<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019. The copyright is reserved by Ghode of Harbin Institute
  ~ of Technology. Users are free to copy, change or remove. Because no one
  ~ will read this. Only I know is that Repeaters are the best of the world.
  ~ Only I know is that Repeaters are the best of the world. Only I know is
  ~ that Repeaters are the best of the world. Maybe a long copyright text
  ~ seems professional. Therefore this text will be a bit lengthy. However,
  ~ the author seems to be afraid that one day, this text may be uploaded to
  ~ business projects. That is the time you can contact with author via email
  ~ ghode@cirnocraft.im or directly ignore this, which will be interesting.
  -->

<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <!-- mapper scanner configurer -->
    <bean id="mapperScannerConfig"
          class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.African411"/>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>
    </bean>

    <context:component-scan base-package="com.African411"/>
</beans>