<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright (c) 2019. The copyright is reserved by Ghode of Harbin Institute
  ~ of Technology. Users are free to copy, change or remove. Because no one
  ~ will read this. Only I know is that Repeaters are the best of the world.
  ~ Only I know is that Repeaters are the best of the world. Only I know is
  ~ that Repeaters are the best of the world. Maybe a long copyright text
  ~ seems professional. Therefore this text will be a bit lengthy. However,
  ~ the author seems to be afraid that one day, this text may be uploaded to
  ~ business projects. That is the time you can contact with author via email
  ~ ghode@cirnocraft.im or directly ignore this, which will be interesting.
  -->
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>


